<!DOCTYPE html>
<html lang="en">
<head><% include partials/templates/head.ejs %></head>
<body>
  <header><% include partials/templates/header.ejs %></header>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <!-- Menu -->
        <table class="responsive-table">
            <thead>
                <tr>
                    <th class="tableCell" data-field="blank"></th>
                    <th class="tableCell" data-field="sun">Sunday</th>
                    <th class="tableCell" data-field="mon">Monday</th>
                    <th class="tableCell" data-field="tue">Tuesday</th>
                    <th class="tableCell" data-field="wed">Wednesday</th>
                    <th class="tableCell" data-field="thur">Thursday</th>
                    <th id = "friday" class="tableCell"data-field="fri">Friday</th>
                    <th class="tableCell" data-field="sat">Saturday</th>
                </tr>
            </thead>

            <tbody>
                <tr> <!-- 0-Breakfast,1-Lunch, 2-Snack, 3-Dinner,4-Snack, 5-Dessert when acessing the tr elements in tbody -->
                    <td class="tableCell">
                    <strong>Breakfast</strong></td> <!-- 1-Sunday,7-Saturday when acessing the td elements in a td -->
                    <td class="tableCell breakfast"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell breakfast"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell breakfast"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell breakfast"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell breakfast"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell breakfast"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell breakfast"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                </tr>
                <tr>
                    <td class="tableCell"><strong>Lunch</strong></td>
                    <td class="tableCell lunch"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell lunch"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell lunch"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell lunch"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell lunch"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell lunch"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell lunch"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                </tr>
                <tr>
                    <td class="tableCell"><strong>Snack</strong></td>
                    <td class="tableCell snack"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell snack"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell snack"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell snack"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell snack"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell snack"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell snack"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                </tr>
                <tr>
                    <td class="tableCell"><strong>Dinner</strong></td>
                    <td class="tableCell dinner"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell dinner"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell dinner"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell dinner"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell dinner"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell dinner"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell dinner"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                </tr>
                <tr>
                    <td class="tableCell"><strong>Dessert</strong></td>
                    <td class="tableCell dessert"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell dessert"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell dessert"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell dessert"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell dessert"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell dessert"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell dessert"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                </tr>
                <tr>
                    <td class="tableCell"><strong>Snack</strong></td>
                    <td class="tableCell snack"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell snack"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell snack"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell snack"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell snack"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell snack"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                    <td class="tableCell snack"><a data-target="modal" class="btn-floating btn-large waves-effect waves-light indigo lighten-5"><i class="material-icons">add</i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  
  <!-- Modal Structure -->
  <div id="modal" class="modal">
    <div class="modal-content">
      <h4>Select A Meal</h4>
   <label id="mealType">Breakfast</label>
  <select id="mealSelection" class="browser-default"><!--Add Options here programatically--></select>
   <label>Servings</label>
  <select class="browser-default">
    <option value="" disabled>How Many Servings?</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3" selected>3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
  </select>
    </div>
    <div class="modal-footer">
      <a href="#!" id="recipeDoneButton" class="modal-action modal-close waves-effect waves-green btn-flat">DONE</a>
    </div>
  </div>
  
  <% include partials/templates/footer.ejs %>
  <% include partials/templates/defaults.ejs %>
  <script src="/javascripts/menu.js"></script>
  </body>
</html>