<!DOCTYPE html>
<html lang="en">
<head><% include partials/templates/head.ejs %></head>
<body>
  <header><% include partials/templates/header.ejs %></header>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
    </div>
  </div>
  <% include partials/templates/footer.ejs %>
  <% include partials/templates/defaults.ejs %>
  </body>
</html>